---
import LoginForm from "../components/LoginForm";
---

<!doctype html>
<html lang="pt-BR" class="bg-gray-100">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Login</title>
	</head>
	<body class="container mx-auto px-4 py-8">
		<LoginForm client:load />
	</body>
</html>
